<div class="container d-flex justify-content-center align-items-center mt-5">
    <div class="card border-primary mb-3" style="width: 150%;">
        <form class="edit-post">
            <div class="card-header bg-primary text-white text border-primary">
                <h3>Title</h3>
            
                <input type="text" class="form" name="title" value="{{post.title}}">
            </div>
            <div class="card-body text-dark">
                <h5 class="card-title">Description</h5>
                <input type="text" name="content" class="form-control" value="{{post.content}}">
            </div>
            <div class="card-footer text-dark d-flex justify-content-center">
                <button type="button"  id="delete-btn" class="delete-btn btn btn-danger m-2 ">Delete Post</button>                
                <button type="submit" id="edit-btn" class="edit-btn btn btn-primary m-2 ">Edit Post</button>
            </div>
        </form>
    </div>
</div>