{{#if posts.length}}

{{#each posts as |post|}}
{{> dash-post post}}

{{/each}}

{{/if}}

<div class="d-flex justify-content-center mt-5">
<button type="button" class="btn btn-primary btn-lg" >
 <a class="text-white text-decoration-none" href="/dashboard/create">Add Post</a>
</button>