  <div class="container d-flex justify-content-center align-items-center mt-5">
    <div class="card border-primary mb-3" style="width: 40%;">
        <form class="signup-form">
        <div class="card-header bg-primary text-white text border-primary text-center"><h3>Log-in</h3>  </div>
        <div class="card-body text-dark text-center">

            <h5 class="card-title text-center mt-2">Username</h5>
            <input type="username" class="form text-center" id="username" placeholder="username">
            <h5 class="card-title text-center mt-3">Email</h5>
            <input type="email" class="form text-center" id="email" placeholder="Email">
            <h5 class="card-title text-center mt-3">Password</h5>
            <input type="password" class="form text-center" id="password" placeholder="Password">

        </div>
        <div class="card-footer text-dark d-flex justify-content-center">
         <button type="submit" class="btn m-2 btn-success">Sign Up</button>
        
        </form>
        </div>
    </div>

    <script src="/js/sign-up.js"></script>